.tcroot {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.tccontainer {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.tcHeader {
  font-size: 24px;
}
