.helperClassName {
  position: absolute;
  top: 45px;
}

.Message-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_success {
    color: green;
  }
  &_error {
    color: red;
  }
}

.Message-icon {
  width: 100px;
  height: 100px;
}
